@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
    box-sizing: border-box;
}

body{
    margin:0;
}

.nav{
    background-color:#ffffff ;
    color:rgb(70, 65, 65);
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav a {
    display: flex;
    align-items: center;
    color: rgb(97, 90, 90);
    text-decoration: none;
    padding:0.5rem;
    height: 100%;
}

.nav ul{
    padding:0;
    margin:0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li{
    display: block;
}
.nav li:hover{
    background-color: #e9b3b3;
}

.nav li:active{
    background-color: #e78181;
}


.intro{
    background: #fa8072;
    color: #ffffff;
}
.section {
    /*vh -> vertical height*/
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.avatar {
    width: 200px;
    border-radius: 100px;
    transition: 0.5s;
}

.avatar:hover{
   transform:scale(1.1);
}

.social-media{
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    transition:0.5s;
}

.social-media:hover{
    transform: scale(2);
}

.gambarku{
    transition: 0.5s;
}
.gambarku:hover{
    transform: scale(1.2);
}

form {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin-left: 250px; /* Menengahkan secara horizontal */
    justify-items: center;
}


form h1 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 20px;
}

form input,
form textarea {
    color:rgb(100, 93, 93);
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgb(216, 211, 211);
    font-size: 16px;
}


.contact{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa8072;
}

.paragraf{
    
    text-align: justify;
    margin-right: 40px;
}

.work{
    min-height: 60vh;
    display: flex;
}

a,
.btn{
    transition: all 300ms ease;
}